.Navbar {
    background-color: #3B5998;
    width: 100%;
    height: 82px;
}

.top {
    width: 980px;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    padding-top: 8px;
}


.top table td input{
    width: 144px;
    border: 1px solid black;
    padding: 3px 2px 2px;
    font-size: 14px;
    margin-right: 10px;
    
}

button {
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: white;
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
}
button:hover {
    background-color: #365899;
    cursor: pointer;
}

.top table td a {
    color:#9cb4d8;
    text-decoration: none;
}
